@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}

body {
    background: linear-gradient(45deg, #ff6b6b, #f06595);
    font-family: 'Inter', sans-serif;
}

.x-auth-card {
    background-color: white;
    border-radius: 10px;
    padding: 2rem;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}
